[SddmGreeterTheme]
Name=XIVAStudio
Description=Breeze mod to XIVAStudio
Author=XIVAStudio
Copyright=XIVAStudio
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/biglinux/sddm-theme-biglinux
Screenshot=preview.jpeg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=barnabedikartola@gmail.com
Theme-Id=breeze
Theme-API=2.0
